@import "@fortawesome/fontawesome-free/css/all.min.css";

#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
#particles-js{
  z-index: 50;
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}